{templateType Stepapo\Crosstab\Control\Crosstab\CrosstabTemplate}

<div class="override-padding" n:snippet>
    {control rowPicker}
    {control columnPicker}
    {control valuePicker}
    {control filterList}
    {control table}
</div>
